{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <h2>Adicionar Novo Horário</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label>Início:</label>
            <input type="time" name="inicio" required class="form-control">
        </div>
        <div class="mb-3">
            <label>Fim:</label>
            <input type="time" name="fim" required class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Salvar Horário</button>
    </form>
</div>
{% endblock %}
